@import "tailwindcss";

.location{
    background-color: brown;
    padding: 5px 10px;
    color: white;

}
.price{
    
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.priceSpan{
    
    position: relative;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: brown;
    color: white;
    font-weight: 600;
}
.navBar{
    background-color: brown;
    color: white;
}
.circle{
    background-color: brown;
}